html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.button, .indexInfo #cards .card button, .contacto .formulario #enviar {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 0px;
  margin-bottom: 10px; }
  .button:hover, .indexInfo #cards .card button:hover, .contacto .formulario #enviar:hover {
    background-color: #DE6A41;
    color: black;
    transition: all 0.2s ease; }

.hover--animation, .contacto a i:hover, footer ul li i:hover {
  transform: scale(1.03);
  transition: 0.2s;
  color: black; }

/*Barra de Navegacion*/
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  align-items: center;
  background-color: white; }
  header .logo img {
    height: 90px; }
  header nav {
    display: flex;
    justify-content: flex-end;
    padding: 15px; }
    header nav a {
      padding: 20px;
      text-decoration: none;
      color: black; }
      header nav a:hover {
        color: gray; }

@media (max-width: 768px) {
  /* Header */
  header {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 130px;
    width: 100%;
    align-items: center;
    background-color: white; }
    header nav {
      display: flex;
      justify-content: flex-end;
      padding: 10px; }
      header nav a {
        padding: 11px;
        text-decoration: none;
        color: black; }
        header nav a:hover {
          color: gray; }
    header .logo img {
      height: 70px; } }

/*Fin de barra de navegacion*/
/* index */
/*imagen de fondo*/
.background--index {
  background-image: url("../img/274647564_4812480722196383_652342768473959873_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh; }

/* seccion informacion */
.indexInfo {
  display: grid;
  grid-template-columns: 5% 40% 50% 5%;
  grid-template-rows: 1fr 1fr;
  background-color: whitesmoke; }
  .indexInfo #index-text {
    display: flex;
    height: 50vh;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    flex-direction: column;
    padding: 30px; }
    .indexInfo #index-text h1 {
      color: #DE6A41; }
    .indexInfo #index-text p {
      font-size: 1.2rem;
      padding: 15px;
      color: grey; }
  .indexInfo #index-img {
    background-image: url("../img/articleindex.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 3/4; }
  .indexInfo #cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    grid-column: 1/5;
    grid-row: 2/3; }
    .indexInfo #cards .card {
      background-color: white;
      color: black;
      width: 270px;
      margin: 10px;
      height: 400px; }
      .indexInfo #cards .card:hover {
        transform: scale(1.03);
        transition: all 0.2s ease; }
      .indexInfo #cards .card .card-image {
        height: 170px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: .3rem .3rem 0px 0px; }
      .indexInfo #cards .card .card-image1 {
        background-image: url("../img/menu.jpg"); }
      .indexInfo #cards .card .card-image2 {
        background-image: url("../img/reserva.jpg"); }
      .indexInfo #cards .card .card-image3 {
        background-image: url("../img/maps.jpg"); }
      .indexInfo #cards .card .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .indexInfo #cards .card .card-text p {
          padding: 20px;
          margin: 10px; }

@media (max-width: 768px) {
  /* Index */
  /* Background */
  .background--index {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url("../img/274647564_4812480722196383_652342768473959873_n.jpg");
    height: 60vh; }
  /* 1ra Seccion Index */
  .indexInfo {
    display: flex;
    flex-direction: column; }
    .indexInfo #index-text {
      display: flex;
      margin: 0%;
      background-color: whitesmoke;
      justify-content: center;
      flex-direction: column; }
      .indexInfo #index-text h1 {
        font-size: 4rem;
        color: #DE6A41; }
      .indexInfo #index-text p {
        font-size: 1.1rem;
        color: grey; }
    .indexInfo #index-img {
      margin: 0%;
      background-image: url("../img/articleindex.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 60vh;
      margin-bottom: 10px; }
  /* 2da Seccion Index */
  #cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    grid-column: 1/2;
    grid-row: 3/4; }
    #cards .card {
      background-color: white;
      color: black;
      width: 270px;
      margin: 10px;
      border-radius: 1rem;
      height: 400px; }
      #cards .card:hover {
        transform: none; }
      #cards .card .card-image {
        background-color: green;
        height: 170px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: .9rem .9rem 0px 0px; }
      #cards .card .card-image1 {
        background-image: url("../img/menu.jpg"); }
      #cards .card .card-image2 {
        background-image: url("../img/reserva.jpg"); }
      #cards .card .card-image3 {
        background-image: url("../img/maps.jpg"); }
      #cards .card .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #cards .card .card-text p {
          padding: 20px;
          margin: 10px; } }

/* Nosotros */
.container-galeria {
  padding-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  background-color: whitesmoke; }
  .container-galeria .galeria-img1 {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url("../img/galeria1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 10px; }
  .container-galeria .galeria-img2 {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../img/galeria2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 10px; }
  .container-galeria .galeria-img3 {
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("../img/galeria3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 10px; }

@media (max-width: 768px) {
  /* Galeria */
  .container-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    background-color: whitesmoke;
    padding: 0%;
    margin-top: 0%; }
    .container-galeria .galeria-img1 {
      grid-column: 1/2;
      grid-row: 1/2;
      margin: 5px;
      background-position: center center; }
    .container-galeria .galeria-img2 {
      grid-column: 1/2;
      grid-row: 2/3;
      margin: 5px;
      background-position: center center; }
    .container-galeria .galeria-img3 {
      grid-column: 1/2;
      grid-row: 3/4;
      margin: 5px;
      background-position: center center; } }

.background--contacto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url("../img/reservas.jpg");
  height: 60vh; }

.contacto {
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  /*Article*/ }
  .contacto .formulario {
    background-color: whitesmoke;
    /*Botones y etc del form*/ }
    .contacto .formulario form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contacto .formulario form label, .contacto .formulario form input {
        margin: 5px; }
      .contacto .formulario form .form--titles {
        text-decoration: underline;
        font-weight: bold;
        color: #DE6A41; }
      .contacto .formulario form .radio--button {
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%; }
  .contacto a {
    text-decoration: none;
    color: #DE6A41; }
    .contacto a i {
      font-size: 40px; }

@media (min-width: 769px) {
  .background--contacto {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url("../img/reservas.jpg");
    height: 100vh; } }

.secMenu {
  background-color: black;
  padding-left: 20vh;
  padding-right: 20vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; }
  .secMenu h1 {
    color: #DE6A41;
    font-size: 45px;
    text-decoration: underline solid black 1px; }
  .secMenu .divMenu .menu--img1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url("../img/menu1.svg");
    height: 250px;
    width: 250px; }
  .secMenu .divMenu .menu--img3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url("../img/menu3.svg");
    height: 250px;
    width: 250px; }
  .secMenu .divMenu .menu--img2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url("../img/menu2.svg");
    height: 250px;
    width: 250px; }
  .secMenu .divMenu .menu--img4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url("../img/menu4.svg");
    height: 250px;
    width: 250px; }
  .secMenu .divMenu .menu--text {
    background-color: black;
    color: whitesmoke; }

@media (min-width: 769px) {
  .secMenu {
    background-color: whitesmoke;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 15px;
    padding-top: 90px;
    display: block; }
    .secMenu .divMenu .menu1 {
      display: grid;
      grid-template-columns: 30% 70%; }
      .secMenu .divMenu .menu1 .menu--img1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-image: url("../img/menu1.svg");
        height: 300px;
        width: 300px;
        grid-column: 1/2;
        justify-self: end; }
      .secMenu .divMenu .menu1 .menu--img3 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-image: url("../img/menu3.svg");
        height: 300px;
        width: 300px;
        grid-column: 1/2;
        justify-self: end; }
      .secMenu .divMenu .menu1 .menu--text1 {
        text-align: start;
        background-color: black; }
        .secMenu .divMenu .menu1 .menu--text1 h2 {
          color: #DE6A41; }
    .secMenu .divMenu .menu2 {
      display: grid;
      grid-template-columns: 70% 30%; }
      .secMenu .divMenu .menu2 .menu--text2 {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: end;
        background-color: #DE6A41; }
        .secMenu .divMenu .menu2 .menu--text2 h2 {
          color: black; }
      .secMenu .divMenu .menu2 .menu--img2 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-image: url("../img/menu2.svg");
        height: 300px;
        width: 300px;
        grid-column: 2/3; }
      .secMenu .divMenu .menu2 .menu--img4 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-image: url("../img/menu4.svg");
        height: 300px;
        width: 300px;
        grid-column: 2/3; }
    .secMenu .divMenu .menu--text {
      color: whitesmoke;
      padding: 5%; }
      .secMenu .divMenu .menu--text h2 {
        text-decoration: underline solid whitesmoke 1px; }
    .secMenu .divMenu .menu--img {
      background-color: #DE6A41; } }

/* Ubicacion */
.ubicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 5%; }
  .ubicacion h1 {
    color: #DE6A41; }
  .ubicacion p {
    color: #0f0f0f; }
  .ubicacion article a img {
    border-radius: 3rem;
    height: 250px; }

@media (min-width: 769px) {
  .ubicacion {
    padding: 15%; }
    .ubicacion article a img {
      border-radius: 3rem;
      height: 500px; } }

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 150px;
  line-height: 10px; }
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer ul li {
      display: inline-block;
      margin-left: -2px;
      margin-right: 0em; }
    footer ul li i {
      color: #DE6A41;
      font-size: large; }
