.button{
        width: 100px;
        height: 30px;
        background-color: black;
        color: white;
        cursor: pointer;
        border: 0px;
        margin-bottom: 10px;
        &:hover {
          background-color: $dark-orange;
          color: black;
          transition: all 0.2s ease; }
}

.hover--animation{
  transform: scale(1.03);
  transition: 0.2s;
  color: black;
}