/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
    line-height: 10px;

    ul{
        @include horizontal-list;
        
        li{

            i{
                color: $dark-orange;
                font-size: large;
        
                &:hover{
                    @extend .hover--animation;
                }
            }
        }

    }
}

    



