/* index */

    /*imagen de fondo*/

    .background--image{
        background-image:url('../img/274647564_4812480722196383_652342768473959873_n.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-position: top center;
    }

    /* seccion informacion */

    .indexInfo{
        display: grid;
        grid-template-columns: 10% 50% 35% 5%;
        grid-template-rows: 1fr 1fr;
        background-color: $dark-white;
        
        #index-text{
            display: flex;
            height: 50vh;
            grid-column: 2/3;
            grid-row: 1/2;
            justify-content: center;
            flex-direction: column;
            padding: 30px;

            h1{
                color: $dark-orange;
            }
        
            p{
                font-size: 1.2rem;
                padding: 15px;
                color: grey;
            }
        }
    
        #index-img{
            background-image: url('../img/articleindex.jpg');
            background-size: cover;
            background-position: center;
            grid-column: 3/4;
        }
    
        #cards{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: black;
            grid-column: 1/5;
            grid-row: 2/3;

            
            .card{
                background-color: white;
                color: black;
                width: 270px;
                margin: 10px;
                height: 400px;

                button{
                    @extend .button;
                }

                &:hover{
                    transform: scale(1.03);
                    transition: all 0.2s ease;
                }

                .card-image{
                    height: 170px;
                    margin-bottom: 15px;
                    background-size: cover;
                    border-radius: .3rem .3rem 0px 0px;
                }
            
                .card-image1{
                    background-image: url('../img/menu.jpg');
            
                }
            
                .card-image2{
                    background-image: url('../img/reserva.jpg');
                }
            
                .card-image3{
                    background-image: url('../img/maps.jpg');
                }

                .card-text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    p{
                        padding: 20px;
                        margin: 10px;
                    }
                    
                }

            }
        }
    }


@media (max-width: 1000px) {
    /* Index */

        /* Background */
            .background--image{
                background-image:url('../img/274647564_4812480722196383_652342768473959873_n.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                height: 60vh;
                background-position: center center;
            }
        /* 1ra Seccion Index */
            .indexInfo{
                display:flex;
                flex-direction: column;

                #index-text{
                    display: flex;
                    margin: 0%;
                    background-color: $dark-white;
                    justify-content: center;
                    flex-direction: column;

                    h1{
                        font-size: 4rem;
                        color: $dark-orange;
                    }
                
                    p{
                        font-size: 1.1rem;
                        
                        color: grey;
                    }
                }

                #index-img{
                    margin: 0%;
                    background-image: url('../img/articleindex.jpg');
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    height: 50vh;
                    margin-bottom: 10px;
                }
            }

        /* 2da Seccion Index */

            #cards{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background-color: black;
                grid-column: 1/2;
                grid-row: 3/4;

                .card{
                    background-color: white;
                    color: black;
                    width: 270px;
                    margin: 10px;
                    border-radius: 1rem;
                    height: 400px;

                    &:hover{
                        transform: none;
                    }

                    .card-image{
                        background-color: green;
                        height: 170px;
                        margin-bottom: 15px;
                        background-size: cover;
                        border-radius: .9rem .9rem 0px 0px;
                    }
                
                    .card-image1{
                        background-image: url('../img/menu.jpg');
                
                    }
                
                    .card-image2{
                        background-image: url('../img/reserva.jpg');
                    }
                
                    .card-image3{
                        background-image: url('../img/maps.jpg');
                    }

                    .card-text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        
                        p{
                            padding: 20px;
                            margin: 10px;
                        }

                }
            }
        }
    }