.secMenu{
    background-color: black;
    padding-left: 20vh;
    padding-right: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    

    h1{
        color:$dark-orange;
        font-size: 45px;
        text-decoration: underline solid black 1px;
    }

    .divMenu{
        .menu--img1{
                @include background--image;
                background-image: url('../img/menu1.svg');
                height: 250px;
                width: 250px;
        }

        .menu--img3{
                @include background--image;
                background-image: url('../img/menu3.svg');
                height: 250px;
                width: 250px;
        }
        
        .menu--img2{
                @include background--image;
                background-image: url('../img/menu2.svg');
                height: 250px;
                width: 250px;
        }
    
        .menu--img4{
                @include background--image;
                background-image: url('../img/menu4.svg');
                height: 250px;
                width: 250px;   
        }
     
        .menu--text{
            background-color: black;
            color: $dark-white;
        }
    }   
}   

@media (min-width: 769px){
    .secMenu{
        background-color: $dark-white;
        padding-left: 10vh;
        padding-right: 10vh;
        padding-bottom: 15px;
        padding-top: 90px;
        display: block;

        .divMenu{

            .menu1{
                display: grid;
                grid-template-columns: 30% 70%;
    
                .menu--img1{
                    @include background--image;
                    background-image: url('../img/menu1.svg');
                    height: 300px;
                    width: 300px;
                    grid-column: 1/2;
                    justify-self: end;
                }
                .menu--img3{
                    @include background--image;
                    background-image: url('../img/menu3.svg');
                    height: 300px;
                    width: 300px;
                    grid-column: 1/2;
                    justify-self: end;  
                }

                .menu--text1{
                    text-align: start;
                    background-color: black;

                    h2{
                        color: $dark-orange;
                    }
                } 
            }
    
            .menu2{
                display: grid;
                grid-template-columns: 70% 30%;

                .menu--text2{
                    grid-column: 1/2;
                    grid-row: 1/2;
                    text-align: end;
                    background-color: $dark-orange;

                    h2{
                        color: black;
                    }
                }
    
                .menu--img2{
                    @include background--image;
                    background-image: url('../img/menu2.svg');
                    height: 300px;
                    width: 300px;
                    grid-column: 2/3;
                }

                .menu--img4{
                    @include background--image;
                    background-image: url('../img/menu4.svg');
                    height: 300px;
                    width: 300px;
                    grid-column: 2/3;      
                }
            }

            .menu--text{
                color: $dark-white;
                padding: 5%;

                h2{
                    text-decoration: underline solid $dark-white 1px;
                }
            }

            .menu--img{
                background-color: $dark-orange;
            }
        }   
    }   
}


