*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

// Imports
@import "vars";
@import "extends";
@import "mixins";
@import "header";
@import "index";
@import "footer";


